/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

/* UTILS */
:root {
    /* Colors */
    --color-white: #ffffff;
    --color-grey: #494848;
    --color-orange-low: #FBDB9E;
    --color-orange-mid: #EE9845;
    --color-orange-dark: #ae421e;
    --color-green-0: #4A653C;
    --color-green-1: #687A40;
    --color-green-2: #97A033;
    --color-green-3: #647B10;
    --color-green-4: #7A8539;
    --color-green-5: #84A21D;
    --color-green-6: #496348;
    --color-green-7: #76944E;
    --color-green-9: #4D6C26;
    --color-green-10: #518648;
    --color-green-11: #4d9559;

    --color-grey-light: #D7D1D1;
    --color-rouge: #bf2424;

    --color-background: #1b1a1a;

    --color-white-high:  #e3e3e3;

    --color-yellow-mid: #FFD700;
    --color-yellow-dark: #FFAA00;

    --color-background: #000000;
    --color-text: #ffffff;
    --color-text-muted: #d3d3d3;
}

/* COMMON PAGE */
    /* Page Settings */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    background-color: rgb(20, 20, 20);
}

a {
    cursor: pointer;
}


    /* Bouton Settings */
.btn {
    display: inline-block;
    position: relative;
    background: var(--color-grey);
    color: var(--color-white-high);
    padding: 8px 20px;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: 600;
    transition: all 400ms ease;
    border-radius: 20px;
    cursor: pointer;
}

.btn:hover {
    background: var(--color-yellow-mid);
    color: var(--color-white-high);
}


.btnDownload:hover {
    background: var(--color-rouge);
    /* color: var(--color-white); */
}

#btnIndispo {
    cursor: not-allowed;
}

#btnIndispo:hover {
    background: var(--color-rouge);
    /* color: var(--color-white); */
}
    
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 80px;
    background-color: rgb(20, 20, 20);  /* Start as transparent */
    box-shadow: none; /* Remove shadow for transparency */
    z-index: 997;
    position: sticky;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    padding-top: 20px;
    padding-bottom: 20px;
}

#header.solid {
    background-color: var(--color-white-high); /* Solid background */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Add shadow when solid */
}


#header .logo2 {
    display: none;
}

    /* LOGO ALLO EXPRESS*/
#header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-yellow-dark);
    font-size: 20px;
    font-weight: 700;
} 

#header .logo img {
    width: 125px;
    padding: 0 20px;
} 

#logo {
    transition: all 0.3s ease;
}

#header.scrolled #logo {
    content: url('assets/logo/logo_noir.png'); /* Change l'image */
}


    /* NAVBAR */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-grey);
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active:hover {
    color: var(--color-yellow-mid);
}

/* BOUTON ACCUEIL */ 
#navbar li a.active {
    color: var(--color-yellow-dark);
}

/* bar en dessous du bouton */

#navbar li a.active::after
{
    content: "";
    width: 30%;
    height: 2px;
    background: var(--color-yellow-dark);
    bottom: -3px;
    left: 20px;
    position: absolute;
}

/* bar en dessous du bouton non actif */

#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: var(--color-yellow-mid);
    bottom: -3px;
    left: 20px;
    position: absolute;
}

#navbar li .sous-nav {
    list-style: none;
    display: none;
    flex-direction: column; /* Aligne les sous-éléments horizontalement */
    gap: 20px; /* Ajoute de l’espace entre les sous-éléments */
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--color-white-high); /* Par défaut : blanc */
    transition: var(--color-background) 0.3s ease; /* Transition fluide */
    align-items: center;
    position: absolute;
    left: -150px;
    right: -170px;
    top: 100%; /* Place le sous-menu juste en dessous du parent */
    z-index: 10; /* Assure que la liste apparaît par-dessus les autres éléments */
    border-radius: 50px;
}

#navbar li.has-sous-nav {
    position: relative; /* Nécessaire pour positionner le sous-menu */
}

#navbar li.has-sous-nav:hover .sous-nav,
#navbar li.has-sous-nav .sous-nav:hover {
    display: flex; /* Rend le sous-menu visible tant que la souris est sur le parent ou le sous-menu */
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}



    /* Footer settings */
#footer {
    background-color: var(--color-white-high); 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 265px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#footer .footer_container {
    position: relative;
    width: 220px;
    height: 185px;
    color: var(--color-background);
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

#footer .footer_container ul li,
#footer #footer_lawtsider p {
    padding-bottom: 10px;
}

#footer .footer_container ul li a {
    color: var(--color-background);
    transition: all 0.3s ease;
}

#footer .footer_container ul li a:hover {
    color: var(--color-yellow-mid);
}

#footer #footer_contactus {
    width: 230px;
}

#footer #footer_contactus p {
    padding-top: 5px;
    color: var(--color-background);
    font-size: 12px;
}

#footer #footer_contactus i {
    color: var(--color-rouge);
}


#footer .footer_container h3 {
    color: var(--color-yellow-dark);
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
}

/* dimension image tout en bas */
#footer #footer_lawtsider img {
    width: 102px;  
}

#github_link {
    color: var(--color-background);
    text-decoration: none;
}




/* ======================================== */



/* HOME PAGE */
    /* LeftText settings */
.textleft {
    position: relative;
    top: -20px;
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.textleft h1 {
    font-size: 56px;
    font-weight: 700;
    color: var(--color-yellow-dark);
}


.textleft h2 {
    position: relative;
    bottom: -10px;
    padding-left: 21px;
    font-size: 30px;
    font-weight: 700;
    color: var(--color-white);
}

.textleft p {
    padding-left: 21px;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-grey-light);
}

.textleft img {
    padding-left: 21px;
    width: 150px;
}


/* Hero Section */
#hero {
    width: 100%;
    min-height: 640px;
    background: linear-gradient(135deg, var(--color-yellow-mid) 5%, var(--color-yellow-dark) 70%, var(--color-orange-mid) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0px 0;
    overflow: hidden;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

#hero .hero-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 90%;
}

#hero .hero-text {
    flex: 1;
    text-align: left;
    color: var(--color-background);
    padding-right: 20px;
}

#hero .hero-text h1 {
    font-size: 56px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
    color: var(--color-background);
    
}

#hero .hero-text p {
    font-size: 25px;
    font-weight: 700;
    color: var(--color-background);
    text-align: start;
    padding-bottom: 30px;
}

#hero .highlight.rapidite {
    color: var(--color-orange-dark); /* Couleur spécifique pour "rapidité" */
    font-weight: 800;
    font-size: 80px;
}

#hero .highlight.priorite {
    color: var(--color-orange-dark); /* Couleur spécifique pour "priorité" */
    font-weight: 800;
    font-size: 80px;
}

#hero .highlight {
    font-size: 35px;
    color: var(--color-orange-dark);
}

#hero .hero-text .btn {
    padding: 12px 30px;
    font-size: 25px;
    font-weight: 600;
    color: var(--color-background);
    background-color: var(--color-orange-dark);
    border-radius: 10px;
    text-decoration: none;
    border: 0;
    background: var(--color-orange-dark);
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px -0px 0px 0px rgb(243, 113, 0), 0px 0px 0px 0px rgba(245, 59, 3, 0.982);
    transition: all .2s;
}

#hero .hero-text .btn::after {
    content: "";
    width: 400px;
    height: 400px;
    background: linear-gradient(225deg, #dbf804 0%, #f08b08 50%, #f01b0c 100%);
    position: absolute;
    left: -50px;
    top: -100px;
    z-index: -1;
    transition: all .2s;
}

#hero .btn:hover::after {
    transform: rotate(150deg);
}

#hero .btn:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0px rgb(250, 97, 2), -10px 10px 25px 0px rgb(255, 143, 39);
}

#hero .hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-image img {
    max-width: 200%;
    height: 50%;
}

/* Section Image Slider 

#image-slider {
    margin: 0px 0;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px;
    padding-bottom: 150px;
    padding-top: 80px;
}

#image-slider .textleftimageslider {
    position: relative;
    left: -150px;
    right: 200px;
    top: -40px;
    font-size: 30px;
    color: var(--color-white-high);
    font-weight: 800;
}

#image-slider .bouttonimageslider {
    /*position: absolute;
    left: 400px;
    top: 1100px;ICICIICICIC
    border: 0;
    background: transparent;
    color: var(--color-white);
    position: relative;
    right: 200px;
    left: -450px;
    top: 140px;
    overflow: hidden;
    padding: 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.5em;
    box-shadow: 0px -0px 0px 0px rgb(243, 113, 0), 0px 0px 0px 0px rgba(245, 59, 3, 0.982);
    transition: all .2s;
}

#image-slider .buttoncolor{
    color: var(--color-background);
}

#image-slider .bouttonimageslider::after {
    content: "";
    width: 400px;
    height: 400px;
    background: linear-gradient(225deg, #dbf804 0%, #f08b08 50%, #f01b0c 100%);
    position: absolute;
    left: -50px;
    top: -100px;
    z-index: -1;
    transition: all .2s;
}

#image-slider .bouttonimageslider:hover::after {
    transform: rotate(150deg);
}

#image-slider .bouttonimageslider:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0px rgb(250, 97, 2), -10px 10px 25px 0px rgb(255, 143, 39);
}

#image-slider .highlightdescription {
    font-size: 45px;
    color: var(--color-yellow-dark);
    font-weight: 800;
}

.slider-container {
    width: 550px; /* Ajustez selon vos besoins 
    height: 450px; /* Ajustez selon vos besoins 
    overflow: hidden;
    border: 5px solid var(--color-orange-dark); /* Bordure blanche 
    box-shadow: 0 0 10px var(--color-orange-mid);
    border-radius: 40%;
    position: relative;
    right: 100px;
    top: 78px;
}

.slider {
    display: flex;
    flex-direction: column;
    animation: slide-loop 8s linear infinite; /* Durée réglable 
}

.slider img {
    width: 100%;
    height: auto;
    display: block;
}

/* Animation du défilement 
@keyframes slide-loop {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(calc(-100% + 500px)); /* Ajustez selon le nombre et la taille des images 
    }
}*/


/* Section Image Slider */
#image-slider {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 150px;
    padding-top: 80px;
}

#image-slider .textleftimageslider {
    text-align: center; /* Centre le texte */
    font-size: 2vw; /* Taille du texte adaptative */
    color: var(--color-white-high);
    font-weight: 800;
    margin-bottom: 20px;
}

#image-slider .bouttonimageslider {
    border: 0;
    background: transparent;
    color: var(--color-white);
    position: relative;
    overflow: hidden;
    padding: 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.5em;
    box-shadow: 0px 0px 0px 0px rgb(243, 113, 0), 0px 0px 0px 0px rgba(245, 59, 3, 0.982);
    transition: all 0.2s;
    margin-top: 20px;
    text-align: center;
}

#image-slider .buttoncolor {
    color: var(--color-background);
}

#image-slider .bouttonimageslider::after {
    content: "";
    width: 400px;
    height: 400px;
    background: linear-gradient(225deg, #dbf804 0%, #f08b08 50%, #f01b0c 100%);
    position: absolute;
    left: -50px;
    top: -100px;
    z-index: -1;
    transition: all 0.2s;
}

#image-slider .bouttonimageslider:hover::after {
    transform: rotate(150deg);
}

#image-slider .bouttonimageslider:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0px rgb(250, 97, 2), -10px 10px 25px 0px rgb(255, 143, 39);
}

#image-slider .highlightdescription {
    font-size: 3vw; /* Taille de police relative à la largeur de l'écran */
    color: var(--color-yellow-dark);
    font-weight: 800;
}


/* Slider Container */
/* Slider Container */
.slider-container {
    width: 80%; /* Prend toute la largeur horizontale */
    height: 180px; /* Faible hauteur pour un rectangle étroit */
    overflow: hidden;
    border: 5px solid var(--color-orange-dark);
    box-shadow: 0 0 10px var(--color-orange-mid);
    border-radius: 15px; /* Légèrement arrondi pour une meilleure esthétique */
    position: relative;
    margin-top: 30px;
}

/* Slider */
.slider {
    display: flex; /* Passage en mode horizontal */
    flex-direction: row; /* Aligne les images sur une ligne */
    animation: slide-horizontal 8s linear infinite; /* Défilement horizontal */
}

.slider img {
    width: auto; /* Conserve le ratio d'origine de l'image */
    height: 100%; /* Adapte la hauteur de l'image au conteneur */
    flex-shrink: 0; /* Empêche le rétrécissement des images */
}


/* Animation du défilement horizontal */
@keyframes slide-horizontal {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% + 100vw)); /* Défile vers la gauche */
    }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    #image-slider .textleftimageslider {
        font-size: 4vw;
    }

    #image-slider .highlightdescription {
        font-size: 5vw;
    }
}

    /* Event Section */
#news {
    height: 672px;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background : linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%); */
    /* border-bottom: 3px var(--color-orange-mid); */
    z-index: 3;
    position: relative;
    padding-top: 80px;
}

#news .imgright {
    position: relative;
    /* padding: 0 0 0 120px; */
    display: flex;
    width: 700px;
    border-radius: 15px;
}

#newsSoon {
    position: relative;
    top: -20px;
    margin-right: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 5px solid var(--color-orange-dark);
    box-shadow: 0 0 10px var(--color-orange-mid);
    border-radius: 15px;
    text-align: center;
}


#newsSoon h2 {
    position: relative;
    /* bottom: -10px; */
    /* padding-right: 21px; */
    font-size: 38px;
    font-weight: 700;
    color: var(--color-grey-light);
}

#news .textright .btn {
    margin-right: 21px;
}

    /* Event Section */
    #postuler {
        height: 672px;
        width: 100%;
        background-size: cover;
        background-position: top 25% right 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* background : linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%); */
        /* border-bottom: 3px var(--color-orange-mid); */
        z-index: 3;
        position: relative;
    }
    
    #postuler .imgright {
        position: relative;
        /* padding: 0 0 0 120px; */
        display: flex;
        width: 700px;
        border-radius: 15px;
    }
    
    #imagepostuler {
        position: relative;
        top: -20px;
        margin-right: 120px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border-radius: 15px;
        text-align: center;
    }
    
    
    #imagepostuler h2 {
        position: relative;
        /* bottom: -10px; */
        /* padding-right: 21px; */
        font-size: 38px;
        font-weight: 700;
        color: var(--color-grey-light);
    }
    
    #postuler .textright .btn {
        margin-right: 21px;
    }

/* ======================================================= */


/* STATS PAGE */
#stats {
    background-color: var(--color-yellow-mid);
    height: 672px;
    width: 100%;
    background-size: cover;
    background-position: top 0% right 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 10px 20px var(--color-grey); */
    z-index: 4;
    position: relative;
}

#stats div {
    position: relative;
    display: flex;
    padding: 20px;
    background-color: var(--color-yellow-dark);
    border-radius: 20px;
}

#stats div h2 {
    font-size: 40px;
    color: var(--color-white-high);
}




/* ======================================================= */


/* MEDIA QUERY MAX  1300px */
@media (max-width:1300px)
{
    #news .imgright {
        width: 600px;
    }
}

/* MEDIA QUERY MAX  1200px */
@media (max-width:1200px) {
    #hero .imgleft {
        width: 500px;
    }

}


/* MEDIA QUERY MAX  1100px */
@media (max-width:1100px)
{
    #news .imgright {
        width: 450px;
    }
}


/* MEDIA QUERY MAX 950PX */

@media (max-width:1001px) 
{

    /* HEADER SECTION */
    #hader {
        padding: 20px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100%;
        width: 300px;
        background-color: var(--color-background);
        box-shadow: 0 40px 60px #000000;
        padding: 80px 0 0 10px;
        transition: 0.4s;
        border-left: solid var(--color-yellow-mid);
        border-top: solid var(--color-yellow-mid);
        border-bottom: solid var(--color-yellow-mid);

    }

    #navbar li {
        margin-bottom: 30px;
    }

    #navbar li a {
        font-size: 16px;
        font-weight: 600;
        color: var(--color-grey);
        transition: 0.3s ease;
    }

    #navbar.active {
        right: 0px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: var(--color-grey);
        padding-left: 20px;
        cursor: pointer;
    }

    #mobile i:hover {
        color: var(--color-yellow-mid);
    }

    #close {
        display: flex;
        position: absolute;
        top: 30px;
        right: 30px;
        color: var(--color-grey);
        font-size: 20px;
    }

    #close:hover {
        color: var(--color-yellow-mid);
    }
    

        /* Footer settings */
    #footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        height: 265px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    #footer .footer_container {
        position: relative;
        width: 220px;
        height: 185px;
        color: var(--color-background);
        text-align: center;
        justify-content: center;
        align-items: center;
        
    }

    #footer .footer_container ul li,
    #footer #footer_lawtsider p {
        padding-bottom: 10px;
        font-size: 12px;
    }

    #footer .footer_container ul li a {
        color: var(--color-background);
        transition: all 0.3s ease;
    }

    #footer .footer_container ul li a:hover {
        color: var(--color-pink-light);
    }

    #footer #footer_contactus {
        width: 230px;
    }

    #footer #footer_contactus p {
        padding-top: 5px;
        color: var(--color-background);
        font-size: 12px;
    }


    #footer .footer_container h3 {
        font-size: 16px;
        font-weight: 700;
        padding-bottom: 10px;
    }

    #footer #footer_lawtsider img {
        width: 102px;  
    }


    /* HOME PAGE PARAMETERS */
    .btn {
        display: inline-block;
        background: var(--color-grey);
        color: var(--color-white);
        padding: 6px 15px;
        border: 1px solid transparent;
        font-size: 15px;
        font-weight: 600;
        transition: all 400ms ease;
        border-radius: 20px;
    }


    /* HERO SECTION */
    #hero {
        height: 672px;
        background-position: top 30% right 30%;
    }

    #hero .imgleft {
        width: 398px;
        height: auto;
        padding-left: 75px;
    }

    #hero .textright {
        padding-right: 75px;
    }

    #hero .textright h1, #install .textright h1, #news .textleft h1 {
        font-size: 46px;
    }

    #news .textleft h2, #install .textright h2 {
        font-size: 25px;
    }

    #newsSoon .imgright {
        width: 300px;
    }

    #postuler .textleft h2, #install .textright h2 {
        font-size: 25px;
    }

    #imagepostuler .imgright {
        width: 300px;
    }

    #install .imgleft {
        width: 260px;
    }
}


@media (max-width: 897px) {
    #hero, #news, #install, #stats, #postuler {
        height: 450px;
    }

    #news .textleft {
        padding-left: 75px;
        padding-right: 0;
    }

    #newsSoon {
        margin-right: 75px;
    }

    #postuler .textleft {
        padding-left: 75px;
        padding-right: 0;
    }

    #imagepostuler {
        margin-right: 75px;
    }

    #install .textright {
        padding-right: 75px;
        top: 0;
    }

    #install .textright h1 {
        font-size: 40px;
    }

    #install .imgleft {
        padding-left: 75px;
    }
}


/* MEDIA QUERY MAX 850PX */
@media (max-width:850px) {
    h1 {
        font-size: 45px;
    }

    #header {
        padding: 20px 30px;
    }
    
    #hero {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #hero .imgleft {
        width: 300px;
        padding-left: 0;
        top: -5px;
    }

    #hero .textright {
        padding-right: 0;
    }
}


@media (max-width:984px) {
    #hero .textright h1 {
        font-size: 45px;
    }
}


@media (max-width:791px) {
    #hero .imgleft {
        width: 285px;
    }

    #imagepostuler h2 {
        font-size: 20px;
    }
}

@media (max-width:725px) {
    #hero .imgleft {
        width: 270px;
    }

    #news #newsSoon {
        margin-left: 10px;
    }

    #postuler #imagepostuler {
        margin-left: 10px;
    }
}

@media (max-width:700px) {
    #news .textleft {
        padding-left: 50px;
    }

    #news #newsSoon {
        margin-right: 50px;
    }

    #postuler .textleft {
        padding-left: 50px;
    }

    #postuler #imagepostuler {
        margin-right: 50px;
    }

    #install .textright
    {
        padding-right: 50px;
    }

    #install .imgleft {
        padding-left: 50px;
        width: 250px;
    }
    
    #postuler #imagepostuler {
        margin-left: 10px;
    }
}

/* MEDIA QUERY MAX 649PX */
@media (max-width:649px) {
    /* HEADER */
    #header {
        padding: 20px 15px;
    }

    #header .logo {
        display: none;
    }

    #header .logo2 {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-yellow-dark);
        font-size: 20px;
        font-weight: 700;
    } 
    
    #header .logo2 img {
        width: 1500px;
        padding: 0 20px;
    }

    #hero .logosam {
        padding-right: 0px;
        width: 100px;
    }
    
    /* HERO SECTION */
    #hero, #news, #install {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 550px;
    }
    
    #hero .imgleft {
        padding-right: 0px;
        width: 300px;
    }

    #hero .textright {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .textright, .textleft {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    #news .textleft {
        padding-left: 0;
    }

    #news #newsSoon {
        margin-right: 0;
    }

    #postuler .textleft {
        padding-left: 0;
    }

    #postuler #imagepostuler {
        margin-right: 0;
    }

    #install .textright {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-right: 0;
    }

    #install .textright h1 {
        text-align: center;
    }

    #install .imgleft {
        padding-left: 0;
        width: 150px;
    }

    /* FOOTER */
    #footer_lawtsider h3,
    #footer_aboutus h3,
    #footer_contactus h3 {
        font-size: 15px;
    }

    #footer_lawtsider p,
    #footer_aboutus p,
    #footer_contactus p {
        font-size: 10px;
    }

    #footer_lawtsider a img {
        width: 85px;
    }

    #footer #footer_menu{
        display: none;
    }

    @media (max-width:590px) {
        #stats div h2 {
            font-size: 30px;
        }
    }

    @media (max-width:490px) {
        #stats div h2 {
            font-size: 25px;
        }
    }

    @media (max-width:390px) {
        #stats div h2 {
            font-size: 20px;
        }
    }
}



/*width*/
::-webkit-scrollbar {
width:17px;
}
/*track*/
::-webkit-scrollbar-track {
background:rgb(27, 26, 26);
}
/*thumb*/
::-webkit-scrollbar-thumb {
background:rgb(227, 227, 227);
border-style:solid;
border-radius:10px;
}
